{% extends 'userdashboard.html' %}
{% load static %}

{% block content %}

<main
class="main-container"
>
<form method="POST">
  {%csrf_token%}
<div class="form main_container">
  <h1>Add Price</h1>
  <div class="form_container w100">
    <div class="input_container">
      <label for="firstname" class="form_label"
        >Your Registered Plan Name</label
      >
      <select
        class="form_control"
        id="firstname"
        placeholder="Plan Name" name="plcatgroup" required
      >
      <option value="select" selected>--select--</option>
      {% for x in catgroup %}
        <option>{{x.dlm_plan_nam}}</option>
      {% endfor %}
      </select>
      
    </div>
    <div class="input_container">
      <label for="lastname" class="form_label"
        >Validity Type</label
      >
      <input type="text"
        class="form_control"
        id="lastname"
        placeholder="Validity Type" name="valtype" required
      />
    </div>
    <div class="input_container">
      <label for="lastname" class="form_label"
        >Price</label
      >
      <input type="text"
        class="form_control"
        id="lastname"
        placeholder="Price" name="amt" required
      />
    </div>
    
    <button class="btn w100" type="submit">Submit</button>
  </div>
</div>
</form>
</main>


{% endblock %}