<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 't&c_and_privacey_policy.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
    
  </head>
  <body>
    <div class="container">
      <div class="inner-box">
        <div class="section1">
          <img src="{% static './Assets/Abaxlogo3.svg' %}" alt="logo" />
          <h2 class="page-heading">Privacy Policy</h2>
        </div>
        <div class="section2">
          <div>
            <h3 class="title-box">INTRODUCTION</h3>
            <p class="desc-box">This Privacy Policy describes how DAEFODIL ("we," "us," or "our") collects, uses, and handles personal information and data when you use our document extraction application ("DAEFODIL"). By using the App, you consent to the practices outlined in this Privacy Policy.</p>
          </div>
          <div>
            <h3 class="title-box">INFORMATION WE COLLECT</h3>
            <p class="desc-box">a. Personal Information: When you use the App, we may collect personal information such as your name, email address, and contact details. This information is provided voluntarily by you.</br>
            </br>b. Usage Data: We may collect non-personal information about your use of the App, such as the type of documents processed, extraction results, and App usage statistics. This information helps us improve the App's performance and user experience. </p>
          </div>
          <div>
            <h3 class="title-box">USE OF INFORMATION</h3>
            <p class="desc-box">a. Personal Information: We may use your personal information to communicate with you, respond to your inquiries or requests, and provide customer support. We may also use your information to send you promotional materials or important updates about the App, but only with your consent.</p>
          </div>
        </div>        
      </div>
      </div>
  </body>
</html>
