{% extends 'userdashboard.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'pricing_style_sheet.css' %}" type="text/css">
<div class="main_content">
        
    <div class="container">
  <h2 class="container-heading">Pricing</h2>
  
  <div class="container-row">
    <div class="container-row-col">
      <h2 class="item-title">Basic</h2>
      <p class="item-desc">Scale how to across organization</p>
      <p class="plan">Free</p>
      <p><i class="fa fa-check"></i> Single user</p>
      <p><i class="fa fa-check"></i> Single user</p>
      <p><i class="fa fa-times"></i> Unlimited Public projects</p>
      <p><i class="fa fa-check"></i> Community access</p>
      <p><i class="fa fa-check"></i> Unlimited private projects</p>
      <button class="access-btn">Get access now</button>  </div>
    <div class="container-row-col">
      <h2 class="item-title">Standard</h2>
      <p class="item-desc">Scale how to across organization</p>
      <p class="plan">Free</p>
      <p><i class="fa fa-check"></i> Single user</p>
      <p><i class="fa fa-check"></i> Single user</p>
      <p><i class="fa fa-times"></i> Unlimited Public projects</p>
      <p><i class="fa fa-check"></i> Community access</p>
      <p><i class="fa fa-check"></i> Unlimited private projects</p>
      <button class="access-btn">Get access now</button>  </div>
    <div class="container-row-col">
      <h2 class="item-title">Organization</h2>
      <p class="item-desc">Scale how to across organization</p>
      <p class="plan">Free</p>
      <p><i class="fa fa-check"></i> Single user</p>
      <p><i class="fa fa-check"></i> Single user</p>
      <p><i class="fa fa-times"></i> Unlimited Public projects</p>
      <p><i class="fa fa-check"></i> Community access</p>
      <p><i class="fa fa-check"></i> Unlimited private projects</p>
      <button class="access-btn">Get access now</button> </div>
  </div>
  
</div>

  </div>

  </div>


<div id="footer" role="contentinfo">

</div>
</section>
</div>
  </div>
</section>

{% endblock %}
