<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 't&c_and_privacey_policy.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    
  </head>
  <body>
    <div class="container">
      <div class="inner-box">
        <div class="section1">
          <img src="{% static './Assets/Abaxlogo3.svg' %}" alt="logo" />
          <h2 class="page-heading">Terms and Conditions</h2>
        </div>
        <div class="section2">
          <div>
            <h3 class="title-box">INTRODUCTION</h3>
            <p class="desc-box">By using our document extraction application ("DAEFODIL"), you agree to be bound by the following terms and conditions. Please read them carefully before using the App. </p>
          </div>
          <div>
            <h3 class="title-box">ACCEPTANCE OF TERMS</h3>
            <p class="desc-box">By accessing or using the App, you acknowledge that you have read, understood, and agree to comply with these terms and conditions. </p>
          </div>
          <div>
            <h3 class="title-box">INTELLECTUAL PROPERTY</h3>
            <p class="desc-box">The App and its contents are the intellectual property of DAEFODIL. All rights, title, and interest in the App and its content, including but not limited to text, graphics, images, logos, and software, are owned or licensed by DAEFODIL.</p>
          </div>
          <div>
            <h3 class="title-box">USE OF THE APP</h3>
            <p class="desc-box">The App is provided solely for the purpose of extracting data from documents. You agree not to use the App for any illegal, unauthorized, or improper purposes. You are responsible for ensuring the accuracy and legality of the documents you submit through the App. </p>
          </div>
        </div>        
      </div>
      </div>
  </body>
</html>
